body {
    background-color: #f4f4f4;
}

@font-face {
    font-family: "fut-embed";
    src: url(Futura.ttc) format("truetype");
}
h1 {
    color: #373737;
    text-align: center;
    font-family: "fut-embed", Futura, sans-serif;
    font-size: 32px;
    font-weight: lighter;
    font-style: italic;
}

h2{
  color: #373737;
  font-family: "fut-embed", Futura;
  font-weight: lighter;
  font-size: 25px;
}

h3 {
  color: #373737;
  font-family: "fut-embed", Futura;
  font-weight: lighter;
}

h4 {
  color: #373737;
  font-family: "fut-embed", Futura;
  font-weight: lighter;
}

li {
  color: #373737;
  font-family: Georgia, Verdana;
  font-size: 17px;
}

h5 {
  color: #373737;
  font-family: "fut-embed", Futura;
  font-weight: lighter;
}

p {
    color: #373737;
    font-family: Georgia, Verdana;
    font-size: 17px;
}
